.reel-window {
  width: 120px;
  height: 360px;

  overflow: hidden;

  background: grey;
  border-radius: 10px;
}

.reel-strip {
  display: flex;
  flex-direction: column;

  will-change: transform;
}

.reel-symbol {
  width: 120px;
  height: 120px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;

  font-size: 60px;
}