.reel-window {
  width: 120px;
  height: 140px;
  overflow: hidden;
  background: grey;
  border-radius: 10px;
}

.reel-strip {
  display: flex;
  flex-direction: column;
  will-change: transform;
}

.reel-symbol {
  width: 120px;
  height: 140px;

  display: flex;
  align-items: center;
  justify-content: center;

  flex-shrink: 0;
  font-size: 70px;
}